require "application_system_test_case"

class <%= class_name.pluralize %>Test < ApplicationSystemTestCase
  # def test_visiting_index
  #   visit <%= plural_table_name %>_url
  #   assert_selector "h1", text: "<%= human_name.pluralize %>"
  # end
end
